/* Basis- und Utility-Stile von Tailwind importieren */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eigene globale Stile (optional) */
body {
    -webkit-app-region: no-drag; /* Stellt sicher, dass der gesamte Body klickbar ist */
}

/* Wichtig: Erlaubt das Ziehen der App durch den Header */
.drag-region {
    -webkit-app-region: drag;
}

/* Verhindert das Ziehen bei Bedienelementen */
.no-drag {
    -webkit-app-region: no-drag;
}

/* Anpassung der Range-Input-Farbe in Light Mode */
.accent-blue-500 {
    accent-color: #3b82f6;
}